@use "variables" as vars;

.container {
  color: white;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 80px;
  background: vars.$container-background;

  .bg-pokeball {
    filter: opacity(0.1);
    width: 900px;
    position: fixed;
    rotate: 180deg;
    bottom: -300px;
    right: -250px;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
  }
}
