@import "../../../styles/variables.sass";

.filters {
  position: fixed;
  flex-grow: 1;
  width: 15%;

  .filter-buttons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .filter-title {
    margin: 0 0 10px 0;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .filter-section {
      background: $card-background;
      padding: 20px;
      border-radius: 10px;

      .filter-options {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
