.pokemon-list {
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  .pokemon-item {
    list-style: none;

    .pokemon-container {
      color: white;
      width: 140px;
      height: 140px;
      border: 1px solid black;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;

      .pokemon-image {
        width: 100px;
      }
    }
  }
}
