<header>
  <a class="home" href="/">
    <img class="logo" src="pokeball.png" alt="pokeball logo" />
    <span>Pokedex</span>
  </a>

  <div class="search">
    <input type="text" />
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="search"
    ></mat-icon>
  </div>

  <div class="buttons">
    <a href="#"><span>No disponibles</span></a>
    <a href="#"><span>No obtenidos</span></a>
  </div>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>
