.check {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  .checkbox {
    margin: 0;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    appearance: none;
  }

  .checkbox:checked::before {
    content: "✔";
    position: absolute;
    top: 0px;
    left: 1px;
    font-size: 14px;
    color: black;
  }

  &:hover {
    transition: all 500 linear;
    transform: scale(1.1);
  }
}
