@import ../../../styles/variables
@import ../../../styles/mixins

.o-pokemon-title
    font-family: 'Pokemon Solid', sans-serif
    color: white
    border-radius: 20px 20px 0 0
    background-color: $dark_grey
    padding: 1%
    margin: auto
    text-align: center

@include desktop
    .o-pokemon-title
        text-align: left
