$background-grey: #242424

$desktop: 600px

@mixin desktop
  @media screen and (min-width: $desktop)
    @content

.o-pokemon-title
  font-family: 'Pokemon Solid', sans-serif
  color: white
  border-radius: 20px 20px 0 0
  background-color: $background-grey
  padding: 1%
  margin: auto
  text-align: center
  @include desktop
    text-align: left
