.searcher-container {
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: text;

  input {
    width: 100%;
    background: transparent;
    border: none;
    caret-color: white;
    color: white;

    &:focus {
      outline: none;
    }
  }

  .mat-icon {
    color: white !important;
  }
}
