@use "variables" as vars;
@use "mixins";

.filters-container {
  position: fixed;
  flex-grow: 1;

  @include mixins.desktop() {
    width: 15%;
  }

  .filters-buttons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .filters-section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .filters-filter-container {
      background: vars.$card-background;
      padding: 20px;
      border-radius: 10px;

      .filters-filter-title {
        margin: 0 0 10px 0;
      }

      .filters-filter-options {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
