<li class="item">
  <a [routerLink]="['/details/' + pokemon.id]">
    <div
      [style]="{ 'background-color': pokemon.color, color: fontColor }"
      class="container"
    >
      <div class="info">
        <div class="title">
          <span class="id">#{{ pokemon.id }}</span>
          <span>{{ pokemon.name }}</span>
        </div>

        <app-pokemon-type [types]="pokemon.types" />

        <app-checks [pokemon]="pokemon" color="white" />
      </div>

      <img
        class="image"
        [style]="{ 'view-transition-name': 'pokemon-image-' + pokemon.id }"
        [src]="pokemon.avatar"
        [alt]="pokemon.name"
      />
    </div>
  </a>
</li>
