<h1>#{{ pokemon().id }} {{ pokemon().name }}</h1>

<div class="pokemon">
  <img class="avatar" [src]="pokemon().avatar" [alt]="pokemon().name" />

  <div class="info">
    <div class="checks">
      <span>Disponible</span>
      <input
        type="checkbox"
        [checked]="pokemon().available"
        (click)="updatePokemon(pokemon().id, 'available', pokemon().available)"
      />
    </div>

    <div class="checks">
      <span>Obtenido</span>
      <input
        type="checkbox"
        [checked]="pokemon().obtained"
        (click)="updatePokemon(pokemon().id, 'obtained', pokemon().obtained)"
      />
    </div>

    <app-pokemon-type [types]="pokemon().types" />
  </div>
</div>

<div class="sprites">
  @for (sprite of pokemon().sprites; track pokemon().sprites) {
  <img [src]="sprite" [alt]="pokemon().name" />
  }
</div>
