<h1>#{{ pokemon().id }} {{ pokemon().name }}</h1>

<div class="pokemon">
  <img class="avatar" [src]="pokemon().avatar" [alt]="pokemon().name" />

  <div class="info">
    <div class="checks">
      <div class="check">
        <span>Disponible:</span>
        <input
          type="checkbox"
          [checked]="pokemon().available"
          (click)="
            updatePokemon(pokemon().id, 'available', pokemon().available)
          "
        />
      </div>

      <div class="check">
        <span>Obtenido:</span>
        <input
          type="checkbox"
          [checked]="pokemon().obtained"
          (click)="updatePokemon(pokemon().id, 'obtained', pokemon().obtained)"
        />
      </div>
    </div>

    <div class="types">
      <span>Tipos:</span>
      <app-pokemon-type [types]="pokemon().types" textSize="20px" />
    </div>
  </div>
</div>

<div class="sprites">
  @for (sprite of pokemon().sprites; track pokemon().sprites) {
  <img [src]="sprite" [alt]="pokemon().name" />
  }
</div>
