$desktop: 600px

@mixin desktop
  @media screen and (min-width: $desktop)
    @content

.o-main__container
  background-color: red
  text-align: center
  object-fit: fill
  padding: 20px
  .o-titlebar__container
    color: #000000
    background-color: #ffffff
    border-radius: 20px
    width: 80%
    height: auto
    margin: auto

  .o-pokemon__img
    margin-top: 20px
    width: 100%
    position: relative
    z-index: 2

  .o-stats__container
    z-index: 1

  @include desktop
    display: flex
    flex-direction: row
    .o-main_title_pokemon__container
      width: 65%
      display: flex
      flex-direction: column
      .o-titlebar__container
        width: 90%
        height: auto

      .o-pokemon__img
        width: 95%
        height: auto
        margin: auto
        padding: auto

    .o-stats__container
      width: 35%
      height: auto
      margin: auto
