$desktop: 600px;

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

.o-main__container {
  background-color: red;
  text-align: center;
  object-fit: fill;
  padding: 20px;
  .o-titlebar__container {
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    width: 80%;
    height: auto;
    margin: auto;
  }
  .o-pokemon__img {
    margin-top: 20px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .o-stats__container {
    z-index: 1;
  }
  @include desktop {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 80%;
    .o-titlebar__container {
      width: 92%;
    }
    .o-pokemon__img {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 90%;
      margin: auto;
    }
    .o-stats__container {
      grid-column: 2/3;
      grid-row: 1/3;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
}
