@use "variables" as vars;
@use "mixins";

.detail-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  .detail-title {
    font-weight: bolder;
    margin: 0;
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;

    @include mixins.desktop() {
      font-size: 60px;
    }
  }

  .detail-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.desktop() {
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;
      gap: 50px;
    }

    .detail-avatar {
      width: 300px;

      @include mixins.desktop() {
        width: 400px;
      }
    }

    .detail-info {
      width: 210px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .detail-types {
        background: vars.$card-background;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .detail-section-title {
    font-size: 30px;
    margin: 0;

    @include mixins.desktop() {
      font-size: 40px;
    }
  }

  .detail-sprites {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .detail-sprites-content {
      width: fit-content;
      max-width: 800px;
      background: vars.$card-background;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;

      img {
        height: 100px;
      }
    }
  }

  .detail-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .detail-card-content {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
}
