@if (loading) {
<app-loading />
}@else{
<div class="detail-container">
  <h1 class="detail-title" [style]="{ color: pokemon().color }">
    #{{ pokemon().uid }} {{ pokemon().name }}
  </h1>

  <div class="detail-pokemon">
    <img
      class="detail-avatar"
      [src]="pokemon().avatar"
      [alt]="pokemon().name"
    />

    <div class="detail-info">
      <app-checks [pokemon]="pokemon()" />

      <div class="detail-types">
        <span>Tipos:</span>
        <app-pokemon-type [types]="pokemon().types" textSize="20px" />
      </div>
    </div>
  </div>

  <div class="detail-sprites">
    <h2 class="detail-section-title">Imagenes:</h2>
    <div class="detail-sprites-content">
      @for (sprite of pokemon().sprites; track sprite) {
      <img [src]="sprite" [alt]="pokemon().name" loading="lazy" />
      }
    </div>
  </div>

  @if ((pokemon().evolutions ?? []).length > 0) {
  <div class="detail-card-container">
    <h2 class="detail-section-title">Evoluciones:</h2>
    <div class="detail-card-content">
      @for (evolution of pokemon().evolutions ?? []; track evolution) {
      <app-evolution-card [pokemon]="evolution" />
      }
    </div>
  </div>
  }

  <!--  -->

  @if ((pokemon().forms ?? []).length > 0) {
  <div class="detail-card-container">
    <h2 class="detail-section-title">Formas:</h2>
    <div class="detail-card-content">
      @for (form of pokemon().forms ?? []; track form) {
      <app-evolution-card [pokemon]="form" />
      }
    </div>
  </div>
  }
</div>
}
