$desktop: 600px;

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

.a-stat__container {
  display: grid;
  grid-template-columns: 40% 50%;
  font-size: 4vw;
  .a-secondary__text {
    color: grey;
  }
  .a-primary__text {
    color: black;
  }
  @include desktop {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    font-size: 3vw;
  }
}
