@use "variables" as vars;

.evolution-card-container {
  background: vars.$card-background;
  width: 220px;
  border-radius: 10px;

  a {
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      height: 50px;
      text-transform: capitalize;
      text-align: center;
      color: white;
      font-size: 20px;
    }

    img {
      width: 150px;
    }
  }
}
