@import ../../../styles/variables
@import ../../../styles/mixins

.o-footer__container
    color: white
    background-color: $dark_grey
    border-radius: 0 0 20px 20px
    padding: 20px
    justify-content: center
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    .o-footer__label
        font-size: 6vw
        margin: 2%
        width: 100%

@include desktop
    .o-footer__container
        .o-footer__label
            width: 23%
            margin: auto
