@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-snack-success {
  --mdc-snackbar-container-color: #32a636 !important; /* Fondo verde */
  --mdc-snackbar-supporting-text-color: black !important; /* Texto blanco */
}

.card-snack-error {
  --mdc-snackbar-container-color: #b00000 !important; /* Fondo verde */
  --mdc-snackbar-supporting-text-color: white !important; /* Texto blanco */
}
